.input{
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.input label,
.input input{
    display: block;
}

.input label{
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    color: #555;
    margin-bottom: .5rem;
}

.input input{
    flex: 3;
    padding: .4rem .6rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1);
    outline: none;
}

.input.invalid input{
    border-color: tomato;
}

@media (max-width: 768px){
    .input{
        align-items: stretch;
        flex-direction: column;
    }
}